@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  
    <table id="TwoListTable"border="3px" padding="5px">

        <tr> 
            <thead> Available Options</thead>
            <thead  >  </thead>
            <thead> Selected Options</thead>
        </tr>

        <tr>
            <td>
                   <div>
                      <select style="text-align: center; text-wrap:normal; width: 110%" id="leftValues" size="10" multiple >
                        <option>item 1 </option>
                        <option>item 2</option>
                        <option>item 3</option>
                        <option>item 4</option>
                      </select>
                    </div>
            </td>

            <td>
                <input style="width: 100%" type="button" id="btnLeft" value="&lt;&lt;"  />
                <input style="width: 100%" type="button" id="btnRight" value="&gt;&gt;" />
            </td>

            <td>
                <div>

                     <select style="text-align: center; text-wrap:normal; width: 110%" id="rightValues" size="10" multiple >
                           
                    </select>

                </div>

            </td>

        </tr>

</table>


<script type="text/javascript">

    $(document).ready(function () {

        $("#btnLeft").click(function () {
            var selectedItem = $("#rightValues option:selected");
            $("#leftValues").append(selectedItem);
            $("option:selected").removeAttr("selected");

            //alert($('select#rightValues option').length);
            if ($('select#rightValues option').length == 0) {
                $("#rightValues").html('<option disabled value=' + '"NoItem"' + ' >No item selected </option>');
            }

            $("#leftValues option[value='NoItem']").remove();

        });

        $("#btnRight").click(function () {
            var selectedItem = $("#leftValues option:selected");
            $("#rightValues").append(selectedItem);
            $("option:selected").removeAttr("selected");
            $("#rightValues option[value='NoItem']").remove();
            if ($('select#leftValues option').length == 0) {
                $("#leftValues").html('<option disabled value=' + '"NoItem"' + ' >No item available </option>');
            }
        });

      

        
     // $("#rightValues").html('<option disabled value='+'"NoItem"' +' >No item selected </option>');
        
      if ($('select#rightValues option').length == 0) {
          $("#rightValues").html('<option disabled value=' + '"NoItem"' + ' >No item selected </option>');
      }

      if ($('select#leftValues option').length == 0) {
          $("#leftValues").html('<option disabled value=' + '"NoItem"' + ' >No item available </option>');
      }
 
      $("#SelectPlatform").change(function () {

            var textValue = $("#SelectPlatform option:selected").text();

            if (textValue == "Select Platform")
            {
                // some code
            }
            else if (textValue == "ALM")
            {
                $("#leftValues option[value='NoItem']").remove();
                
                    @foreach (var kv in Model)
                    {
                       @:$("#leftValues").append("<option value='@kv.Value'>" + "@kv.Value" + "</option>");
                    }

            }
            else if (textValue == "Serena")
            {
                // some code
            }


        });
 
 
    });

</script>
